{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- start block wrapper -->
		<section class="block-wrapper p-30" style="background: url(images/banner-bg.png) no-repeat center center/cover">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 pr-10">
                    {% for f in fashion  %}

                     {% if forloop.counter < 3 %}

                        <div class="ts-post-overlay-style-1 ts-post-style-5">
							<div class="ts-overlay-style">
								<div class="item">
									<div class="ts-post-thumb">
										<a class="post-cat ts-orange-bg" href="#">{{ f.category.name }}</a>
										<a href="">
											<img class="img-fluid" src="{{ f.image_url }}" alt="">
										</a>
									</div>

									<div class="overlay-post-content">
										<div class="post-content">
											<h3 class="post-title">
												<a href="#">{{ f.title }}</a>
											</h3>
											<ul class="post-meta-info">
												<li>
													<i class="fa fa-clock-o"></i>
													{{ f.uploaded|naturalday }}
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- end item-->
							</div>
							<!-- ts overlay style end-->
						
						</div>

                        {% endif %}
                    
                    {% endfor %}
						
					</div>
					<!-- col end-->
					<div class="col-lg-6 pl-0 pr-10">
						<div id="featured-slider-2" class="owl-carousel ts-overlay-style ts-featured">
                            {% for n in news  %}


                            {% if forloop.counter < 10 %}

             
                                        <div class="item" style="background-image:url({{ n.image_url }})">
                                            <a class="post-cat ts-orange-bg" href="#">{{ n.category.name }}</a>
                                            <div class="overlay-post-content">
                                                <div class="post-content">
                                                    <h2 class="post-title lg">
                                                        <a href="#">{{ n.title }}</a>
                                                    </h2>
                                                    <ul class="post-meta-info">
                                                        <li class="author">
                                                            <a href="#">
                                                                <img src="http://api.allnigerianewspapers.com.ng{{ n.site.logo }}" alt=""> {{ n.site.name }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-clock-o"></i>
                                                            {{ n.created_at }}
                                                        </li>
                                                        <li class="active">
                                                            <i class="icon-fire"></i>
                                               

                                                                {{ n.comment  }}
                                                            
                                                  
                                                            
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--/ Featured post end -->

                                        </div>
                                  

                               {% endif %}

                            {% endfor %}

							
							
							<!-- Item 3 end -->
						</div>
						<!-- Featured owl carousel end-->
					</div>
					<!-- col end-->
					<div class="col-lg-3 pl-0">
						<div class="ts-post-overlay-style-1">
                        {% for e in entertainment %}
                            {% if forloop.counter < 3 %}
							<div class="ts-overlay-style">
								<div class="item">
									<div class="ts-post-thumb">
										<a class="post-cat ts-blue-bg" href="#">Entertainment</a>
										<a href="#">
											<img class="img-fluid" src={{e.image_url}} alt="">
										</a>
									</div>

									<div class="overlay-post-content">
										<div class="post-content">
											<h3 class="post-title">
												<a href="#">{{e.title}}</a>
											</h3>
											<ul class="post-meta-info">
												<li>
													<i class="fa fa-clock-o"></i>
													{{e.uploaded}}
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- end item-->
							</div>
                            {% endif %}
							<!-- ts overlay style end-->
						{% endfor %}
							<!-- ts overlay style end-->
						</div>
					</div>
					<!--col end-->
				</div>
			</div>
		</section>
		<!-- end  blog wrapper -->

		<section class="block-wrapper p-30">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="ts-grid-item ts-grid-item1 mb-20">
							<div class="ts-title-item clearfix">
								<h2 class="ts-cat-title float-left">
									<span>Health</span>
								</h2>
								<div class="float-right">
									<a href="#" class="view-all-link">View All</a>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
								{% for h2 in health2 %}
								<div class="item">
										<div class="ts-post-thumb">

											<a href="#">
												<img class="img-fluid" src={{h2.image_url}} alt="">
											</a>
										</div>
										<div class="post-content">
											<a class="cat-name purple-color" href="#">{{h2.category.name}}</a>
											<h3 class="post-title md">
												<a href="#">{{h2.title}}</a>
											</h3>
											<ul class="post-meta-info">
												<li>
													<i class="fa fa-clock-o"></i>
													{{h2.uploaded}}
												</li>
											</ul>
											<p>
												{{h2.content|truncatewords:20}}
											</p>
										</div>
									</div>
								{% endfor %}
									
									<!-- ts-grid-box end-->
								</div>
								<!-- col end-->
								<div class="col-lg-6">
									<div class="row">
									{% for h in health1 %}
									<div class="col-lg-6">
											<div class="item mb-20">
												<div class="ts-post-thumb">
													<a href="#">
														<img class="img-fluid" src={{h.image_url}} alt="">
													</a>
												</div>
												<div class="post-content">
													<h3 class="post-title">
														<a href="#">{{h.title}}</a>
													</h3>
													<span class="post-date-info">
														<i class="fa fa-clock-o"></i>
														{{h.uploaded}}
													</span>
												</div>
											</div>
										</div>
									{% endfor %}
										
										
									</div>
								</div>
							</div>
							<!-- row end-->

						</div>
						<!-- ts grid item end-->

						<div class="ts-grid-item">
							<div class="ts-title-item clearfix">
								<h2 class="ts-cat-title float-left">
									<span>Sports</span>
								</h2>
								<div class="float-right">
									<a href="#" class="view-all-link">View All</a>
								</div>
							</div>
							<div class="row ts-grid-item ts-post-style-2">
								<div class="col-lg-8 ">
								{% for s1 in sport1 %}
								<div class="ts-overlay-style featured-post mb-5">
										<div class="item " style="background-image:url({{s1.image_url}})">

											<div class="overlay-post-content">
												<div class="post-content">
												<a href="#" class="cat-name">{{s1.category.name}}</a>
													<h3 class="post-title md">
														<a href="#">{{s1.title}}</a>
													</h3>
													<ul class="post-meta-info">
														
														<li>
															<i class="fa fa-clock-o"></i>
															{{s1.uploaded}}
														</li>
														
													</ul>
												</div>
											</div>
											<!--/ Featured post end -->
										</div>
									</div>
								{% endfor %}
									
								</div>
								<!-- col end-->
								<div class="col-lg-4">
									<div class="ts-grid-content ts-list-post-box">
									{% for s2 in sport2 %}
									<div class="item">
											<div class="ts-post-thumb">
												<a href="#">
													<img class="img-fluid" src={{s2.image_url}} alt="">
												</a>
											</div>
											<div class="post-content">
												<h3 class="post-title">
													<a href="#">{{s2.title}}</a>
												</h3>
												<span class="post-date-info">
													<i class="fa fa-clock-o"></i>
													{{s2.uploaded}}
												</span>
											</div>
										</div>
									{% endfor %}
										
										
									</div>
									<!-- ts grid box-->
								</div>
								<!-- col end-->

							</div>
						</div>
					</div>
					<!-- col end-->
					<div class="col-lg-3">
						<div class="widgets widgets-item">
							<h3 class="widgets-title">
								<span>On social</span>
							</h3>
							<ul class="ts-block-social-list">
								<li class="ts-facebook">
									<a href="#">
										<i class="fa fa-facebook"></i>
										<b>facebook </b>
										<span>1.5k</span>
									</a>

								</li>
								<li class="ts-google-plus">
									<a href="#">
										<i class="fa fa-google-plus"></i>
										<b>Google Plus </b>
										<span>1.5k</span>
									</a>

								</li>
								<li class="ts-twitter">
									<a href="#">
										<i class="fa fa-twitter"></i>
										<b>Twitter </b>
										<span>1.5k</span>
									</a>

								</li>
								<li class="ts-pinterest">
									<a href="#">
										<i class="fa fa-pinterest-p"></i>
										<b>facebook </b>
										<span>1.5k</span>
									</a>

								</li>
								<!-- <li class="ts-linkedin">
									<a href="#">
										<i class="fa fa-linkedin"></i>
										<b>12.5 k </b>
										<span>Follwers</span>
									</a>
	
								</li>
								<li class="ts-youtube">
									<a href="#">
										<i class="fa fa-youtube"></i>
										<b>12.5 k </b>
										<span>Follwers</span>
									</a>
	
								</li> -->
							</ul>
						</div>
						<!-- end-->
						<div class="widgets widgets-item posts-ad">
							<a href="#">
								<img class="img-fluid" src="images/banner/sidebar-banner3.png" alt="">
							</a>
						</div>
						<!-- widgets end-->
						<div class="widgets ts-grid-item  widgets-populer-post">
							<h3 class="widgets-title">
								<span>Latest Post</span>
							</h3>
							{% for f2 in fashion2 %}
							<div class="post-content media">
								<img class="d-flex sidebar-img" src={{f2.image_url}} alt="">
								<div class="media-body align-self-center">
									<h4 class="post-title">
										<a href="">{{f2.title}} </a>
									</h4>
								</div>
							</div>
							{% endfor %}
							<!-- post content end-->
							
							<!-- post content end-->
						</div>
						<!-- widgets end-->

					</div>
					<!-- col end-->
					
				</div>
			</div>
		</section>

	   <section class="block-wrapper hot-topics-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="ts-heading clearfix">
							<h2 class="ts-title float-left">
								Hot Topics
							</h2>

						</div>

						<div class="post-list">
							<!-- ts title end-->
							{% for all in news2 %}

								<div class="row mb-10">
									<div class="col-md-4">
										<div class="ts-post-thumb">
											<a href="#">
												<img class="img-fluid" src={{all.image_url}} alt="">
											</a>
										</div>
									</div>
									<!-- col lg end-->
									<div class="col-md-8">
										<div class="post-content">
											<h3 class="post-title md">
												<a href="#">{{ all.title }}</a>
											</h3>
											<ul class="post-meta-info">
												
												<li>
													<i class="fa fa-clock-o"></i>
													{{all.uploaded}}
												</li>
											</ul>
											<p>
											{{all.content|truncatewords:20}}	
											</p>
										</div>
									</div>
								</div>

							{% endfor %}
							
						</div>


					</div>
					<!-- col end-->
					<div class="col-lg-3">
						<div class="widgets widgets-item">

							<div class="ts-widget-newsletter">
								<div class="newsletter-introtext">
									<h4>Newsletter</h4>
									<p>Subscribe to get the best stories into your inbox!</p>
								</div>

								<div class="newsletter-form">
									<form action="#" method="post">
										<div class="form-group">
											<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="E-mail" autocomplete="off">
											<button class="btn btn-primary">Subscribe</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- widgets end-->
						<div class="widgets widgets-item widget-banner">
							<a href="#">
								<img class="img-fluid" src="images/banner/sidebar-banner2.jpg" alt="">
							</a>
						</div>
						<!-- widgets end-->

						<div class="widgets ts-grid-box widgets-populer-post border">
							<h3 class="widget-title">
								Most Viewed
							</h3>
							<div class="item">
								<div class="ts-post-thumb">
									<a class="post-cat ts-yellow-bg" href="#">Food</a>
									<a href="#">
										<img class="img-fluid" src="images/news/foods/food7.jpg" alt="">
									</a>
								</div>
								<div class="post-content">
									<h3 class="post-title">
										<a href="#">Tourism in Dubai is booming by international tourist</a>
									</h3>
									<span class="post-date-info">
										<i class="fa fa-clock-o"></i>
										March 21, 2019
									</span>
								</div>
							</div>

							
						</div>
						<div class="ts-grid-box widgets category-list-item">
                        <h2 class="widget-title">Categories</h2>
                        <ul class="category-list">
                        {% for r in category %}
                        <li>
                              <a href="{% url 'news_by_category' r.name %}">{{r.name}}
                                 <span class="ts-orange-bg">08</span>
                              </a>
                           </li>
                        {% endfor %}
                           
                        </ul>
                     </div>
						<!-- widgets end-->
					</div>
					<!-- col end-->
				</div>
			</div>
		</section>

{% endblock content %}
		