{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

      	<!-- single post start -->
	<section class="single-post-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<ol class="breadcrumb">
						<li>
							<a href="#">
								<i class="fa fa-home"></i>
								Home
							</a>
						</li>
						<li>
							<a href="#">{{newsdetails.site.name}}</a>
						</li>
						<li>{{newsdetails.category.name}}</li>
					</ol>
					<!-- breadcump end-->
					<div class="ts-grid-box content-wrapper single-post">
						<div class="entry-header">
							<h2 class="post-title lg">{{newsdetails.title}}</h2>
							<ul class="post-meta-info">
								<li>
									<a href="#" class="post-cat ts-yellow-bg">{{newsdetails.category.name}}</a>
								</li>
								
								<li>
									<i class="fa fa-clock-o"></i>
									{{newsdetails.uploaded}}
								</li>
								
								<li class="share-post">
									<a href="#">
										<i class="fa fa-share"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- single post header end-->
						<div class="post-content-area">
							<div class="post-media post-featured-image">
								<a href={{newsdetails.image_url}} class="gallery-popup">
									<img src={{newsdetails.image_url}} class="img-fluid" alt="">
								</a>
							</div>
							<div class="entry-content">
								{{newsdetails.content}}
							</div>
							<!-- entry content end-->
						</div>
						<!-- post content area-->
						
						<!-- author box end-->
						<div class="post-navigation clearfix mt-5">
							<div class="post-previous float-left">
							{% for pn in postNext %}
							<a href="#">
									<img src={{pn.image_url}} alt="">
									<span>Read Previous</span>
									<p>
										{{pn.title}}
									</p>
								</a>
							{% endfor %}
								
							</div>
							<div class="post-next float-right">
								{% for pp in postPrevious %}
							<a href="#">
									<img src={{pp.image_url}} alt="">
									<span>Read Next</span>
									<p>
										{{pp.title}}
									</p>
								</a>
							{% endfor %}
							</div>
						</div>
						<!-- post navigation end-->
					</div>
					<!--single post end -->
					{% comment %} <div class="comments-form ts-grid-box">

						<h3 class="comments-counter">03 Comments</h3>
						<ul class="comments-list">
							<li>
								<div class="comment">
									<img class="comment-avatar float-left" alt="" src="images/avater/author.png">
									<div class="comment-body">
										<div class="meta-data"><span class="float-right"><a class="comment-reply" href="#"><i 	class="fa fa-mail-reply-all"></i> Reply</a></span>
											<span class="comment-author">Demon Lion</span><span class="comment-date">October 31, 2018</span>
										</div>
										<div class="comment-content">
											<p>There’s such a thing as “too much information”, especially for the companies scaling out their sales operations. That’s why Attentive was help sales teams </p>
										</div>
									</div>
								</div>
								<!-- Comments end-->
								<ul class="comments-reply">
									<li>
										<div class="comment">
											<img class="comment-avatar float-left" alt="" src="images/avater/author2.png">
											<div class="comment-body reply-bg">
												<div class="meta-data"><span class="float-right"><a class="comment-reply" href="#"><i class="fa fa-mail-reply-all"></i> Reply</a></span>
													<span class="comment-author">Henry kendel</span><span class="comment-date">October 31, 2018</span>
												</div>
												<div class="comment-content">
													<p>There’s such a thing as “too much information”, especially for the companies scaling out their sales operations. That’s why Attentive was born</p>
												</div>
											</div>
										</div>
										<!-- Comments end-->
									</li>
								</ul>
								<!-- comments-reply end-->
							</li>
							<!-- Comments-list li end-->
							<li>
								<div class="comment last">
									<img class="comment-avatar float-left" alt="" src="images/avater/author.png">
									<div class="comment-body">
										<div class="meta-data"><span class="float-right"><a class="comment-reply" href="#"><i 	class="fa fa-mail-reply-all"></i> Reply</a></span>
											<span class="comment-author">Demon Lion</span><span class="comment-date">October 31, 2018</span>
										</div>
										<div class="comment-content">
											<p>Cras lectus sed arcus volutpat tincidun met diam placerat.Vis solum numquam. That’s why Attentive help sales teams </p>
										</div>
									</div>
								</div><!-- Comments last end-->
							</li>
						</ul>
						<!-- Comments-list ul end-->

						<h3 class="comment-reply-title">Add Comment</h3>
						<form role="form" class="ts-form">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" name="name" id="name" placeholder="Your Name" type="text" required="">
									</div>
									<!-- form group end-->
									<div class="form-group">
										<input class="form-control" name="email" id="email" placeholder="Your Email" type="email" required="">
									</div>
									<!-- form group end-->
									<div class="form-group">
										<input class="form-control" placeholder="Your Website" type="text" required="">
									</div>
									<!-- form group end-->
								</div>
								<!-- Col end -->
								<div class="col-md-6">
									<div class="form-group">
										<textarea class="form-control msg-box" id="message" placeholder="Your Comment" rows="10" required=""></textarea>
									</div>
								</div>
								<!-- Col end -->
								<div class="col-md-12">
									<p class="comment-form-cookies-consent">
										<input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
										<label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
									</p>
								</div>
							</div>
							<!-- Form row end -->
							<div class="clearfix">
								<button class="comments-btn btn btn-primary" type="submit">Post Comment</button>
							</div>
						</form>
						<!-- Form end -->
					</div> {% endcomment %}
				

				</div>
				<!-- col end -->
				<div class="col-lg-3">
					<div class="right-sidebar">
						<div class="ts-grid-box widgets social-widget">
							<h2 class="widget-title">Follow us</h2>
							<ul class="ts-social-list">
								<li class="ts-facebook">
									<a href="#">
										<i class="fa fa-facebook"></i>
										<b>12.5 k </b>
										<span>Likes</span>
									</a>

								</li>
								<li class="ts-google-plus">
									<a href="#">
										<i class="fa fa-google-plus"></i>
									</a>
									<b>12.5 k </b>
									<span>Follwers</span>
								</li>
								<li class="ts-twitter">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
									<b>12.5 k </b>
									<span>Follwers</span>
								</li>
								<li class="ts-pinterest">
									<a href="#">
										<i class="fa fa-pinterest-p"></i>
									</a>
									<b>12.5 k </b>
									<span>Photos</span>
								</li>
								<li class="ts-linkedin">
									<a href="#">
										<i class="fa fa-linkedin"></i>
									</a>
									<b>12.5 k </b>
									<span>Follwers</span>
								</li>
								<li class="ts-youtube">
									<a href="#">
										<i class="fa fa-youtube"></i>
									</a>
									<b>12.5 k </b>
									<span>Follwers</span>
								</li>
							</ul>
						</div>
						<!-- widgets end-->

						<div class="widgets widget-banner">
							<a href="#">
								<img class="img-fluid" src="images/banner/sidebar-banner2.jpg" alt="">
							</a>
						</div>
						<!-- widgets end-->
						<div class="post-list-item widgets">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation">
									<a class="active" href="#home" aria-controls="home" role="tab" data-toggle="tab">
										<i class="fa fa-clock-o"></i>
										Recent
									</a>
								</li>
								
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active ts-grid-box post-tab-list" id="home">
									{% for r in recent %}
                              <div class="post-content media">
                                 <img class="d-flex sidebar-img" src={{r.image_url}} alt="">
                                 <div class="media-body">
                                    <span class="post-tag">
                                       <a href="#" class="green-color"> {{r.category.name}}</a>
                                    </span>
                                    <h4 class="post-title">
                                       <a href="">{{r.title}} </a>
                                    </h4>
                                 </div>
                              </div>
                              {% endfor %}

								</div>
								<!--ts-grid-box end -->

							</div>
							<!-- tab content end-->
						</div>
						<!-- widgets end-->

						<div class="ts-grid-box widgets category-widget">
							<h2 class="widget-title">Categories</h2>
							<ul class="category-list">
								{% for r in category %}
                        <li>
                              <a href="{% url 'news_by_category' r.name %}">{{r.name}}
                                 <span class="ts-orange-bg">08</span>
                              </a>
                           </li>
                        {% endfor %}
							</ul>
						</div>
						<!-- widgets end-->

					</div>
				</div>
				<!-- right sidebar end-->
				<!-- col end-->
			</div>
			<!-- row end-->
		</div>
		<!-- container-->
	</section>
	<!-- single post end-->

	<!-- footer social list start-->
	<section class="ts-footer-social-list">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-logo">
						<a href="#">
							<img src="images/logo/footer_logo.png" alt="">
						</a>
					</div>
					<!-- footer logo end-->
				</div>
				<!-- col end-->

				<div class="col-lg-8 align-self-center">
					<ul class="footer-social">
						<li class="ts-facebook">
							<a href="#">
								<i class="fa fa-facebook"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li class="ts-google-plus">
							<a href="#">
								<i class="fa fa-google-plus"></i>
								<span>Google Plus</span>
							</a>
						</li>
						<li class="ts-twitter">
							<a href="#">
								<i class="fa fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="ts-pinterest">
							<a href="#">
								<i class="fa fa-pinterest-p"></i>
								<span>pinterest</span>
							</a>
						</li>
						<li class="ts-linkedin">
							<a href="#">
								<i class="fa fa-linkedin"></i>
								<span>Linkedin</span>
							</a>

						</li>
					</ul>
				</div>
				<!-- col end-->

			</div>
		</div>
	</section>
	<!-- footer social list end-->

	<!-- newslater start -->
	<section class="ts-newslatter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="ts-newslatter-content">
						<h2>
							Sign up for the Newsletter
						</h2>
						<p>
							Join our newsletter and get updates in your inbox. We won’t spam you and we respect your privacy.
						</p>
					</div>
				</div>
				<!-- col end-->

				<div class="col-lg-6 align-self-center">
					<div class="newsletter-form">
						<form action="#" method="post" class="media align-items-end">
							<div class="email-form-group media-body">
								<i class="fa fa-paper-plane" aria-hidden="true"></i>
								<input type="email" name="email" id="newsletter-form-email" class="form-control" placeholder="Enter Your Email" autocomplete="off">
							</div>
							<div class="d-flex ts-submit-btn">
								<button class="btn btn-primary">Subscribe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- newslater end -->
{% endblock content %}